/* Fullscreen no scroll */
.no-scroll {
  overflow: hidden;
}

/* NEW HOMEPAGE LAYOUT (like your friend’s site) */
.homepage-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85vh;
  width: 100%;
  padding: 0 100px;
}

/* LEFT SIDE TEXT */
.home-text {
  width: 50%;
  text-align: left;
}

.home-text h1 {
  font-size: 3rem;
  color: #e53935;
}

.home-text h2 {
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: #ccc;
}

.home-text p {
  line-height: 1.7;
  margin-bottom: 30px;
  color: #eee;
}

/* RIGHT SIDE IMAGE */
.home-photo {
  width: 50%;
  display: flex;
  justify-content: center;
}

.glow-circle.big {
  width: 350px;
  height: 350px;
}

.profile-pic.big {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  object-fit: cover;
}
